.hero-unit
  %h1 Your path to being stronger
  %p 
    :textile
      This is a persisted <dfn title="A mesocycle represents a phase of training with a duration of between 2 – 6 weeks or microcycles"> mesocycle </dfn> generation tool that is based on many popular programs like "5/3/1":http://www.amazon.com/Simplest-Effective-Training-Increase-Strength/dp/0557248299, "StrongLifts 5x5":http://stronglifts.com/, and "Starting Strength":http://startingstrength.wikia.com/wiki/The_Starting_Strength_Novice/Beginner_Programs. The only goal of Stronger is to remove the guess work out of whatever program you decide to follow. The guys that created the program have very good reasons for saying what they say, buy and read their material, they're worth it.

%h2 Getting Started
%ol
  %li Research the programs to determine which one is the best for your goals. Each of them have their merits. 
  %li Depending on the program you picked, determine your 1RM for the big four.
  %li Create a new mesocycle using your 1RM for each and pick the program. This will generate your mesocycle which includes a series of microcycles, workouts, and lift sets based on the program you chose.
  %li Here is the most important part, LIFT WEIGHTS! No program is effective if you don't move the weight.
  %li After completing the mesocycle, reevaluate your goals and start the process over with a new mesocycle.

