%h1 Editing mesocycle

%div.alert.alert-error
  %h4 Warning
  %p
    If you edit your mesocycle, all previous progress in the mesocycle will be reset.

= render 'form'

= link_to 'Show', user_mesocycle_path(@mesocycle.user, @mesocycle)
\|
= link_to 'Back', user_mesocycles_path(@mesocycle.user)
